* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 375px;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0 auto;
}

.bold-text {
  font-size: 13px;
  font-weight: 700;
}

.light-text {
  font-size: 12px;
  font-weight: 400;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px 0 10px;
  margin-bottom: 5px;
}

#main-logo {
  width: 130px;
}

.mini-img {
  width: 34px;
  height: 34px;
  border-radius: 50%;
}

.user-info {
  display: flex;
  width: 348px;
  margin: 10px auto;
}

.user-details{
  padding-left: 7px;
}

#post-img {
  width: 100%;
}

.mb-12px{
  margin-bottom: 12px;
}

.social-icons {
  height: 25px;
  padding-right: 10px;
}

.social-icons:hover{
  background-color: pink;
}

.post-body{
  width: 348px;
  margin: 10px;
}

#post-container{
  padding: 5px 0;
  border-top: 1px solid #c6c6c6;
}